body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* More modern font */
    margin: 0;
    padding: 0;
    background-color: #1e1e1e; /* Dark background */
    color: #fff; /* Light text color */
}

header, footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    /*background-image: linear-gradient(to bottom, #444, #222);  Subtle gradient */
}

main {
    padding: 20px;
}

#about {
  text-align: center; /* Center the about me content */
  margin-bottom: 40px;
}

.avatar {
    border-radius: 50%;
}

#snake-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#snake-game canvas {
    background-color: #000;
    border: 4px solid #0f0;
    box-shadow: 0 0 10px #0f0;
    display: block;
    margin: 0 auto;
    transition: box-shadow 0.2s, background-color 0.5s ease; /* Added background-color transition */
}

#snake-game canvas.food-eaten {
    box-shadow: 0 0 20px #0f0;
}

#startButton {
    background-color: #0f0;
    color: #000;
    font-size: 1.5rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

#startButton:hover {
    background-color: #0a0;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    #snake-game canvas {
        width: 95%;
        height: auto;
    }
    #startButton {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }
    #snake-game canvas {
        width: 100%;
        height: auto;
    }
    #startButton {
        font-size: 1rem;
    }
}